<div class="swalk-house-list">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div>
                    <div class="crumb">
                        酒店管理 <span class="crumb-arrow">></span> <span class="second">房源维护</span>
                    </div>
                </div>
                <div class="body-head clearfix">
                    <div class="col-md-6">
                        <div class="row">
                            <button type="button" class="btn btn-green btn-add" ng-click="addHouse()">+ 新增</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group form-inline text-right">
                                <label>名称</label>
                                <input id="houseName" class="form-control input-xs input-inline" enter-search enterfun="getData()" ng-model="houseName" placeholder="请输入酒店名称" style="padding: 8px 10px;margin-left: 8px"/>
                                <input type="button" class="btn btn-detail" value="查询" ng-click="getData();" style="margin-left: 8px">
                                <button type="button" class="btn btn-success btn-reset" ng-click="reset()">重置</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable">
                    <div class="search-info" ng-if="searchInfo">
                        以下为关键词“{{searchValBackup}}”的搜索结果
                    </div>
                    <table class="table table-bordered table-checkable table1 table-new" id="sample_1">
                        <thead>
                            <tr>
                                <th> 序号 </th>
                                <th> 名称 </th>
                                <th> 地址 </th>
                                <th> 电话 </th>
                                <th> 类型 </th>
                                <th> 操作 </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="house in houseList">
                                <td ng-bind="$index+1+(paginationConf.currentPage-1)*paginationConf.itemsPerPage">
                                </td>
                                <td>
                                    {{::house.name}}
                                </td>
                                <td>
                                    {{::house.address}}
                                </td>
                                <td>
                                    {{::house.telephone}}
                                </td>
                                <td>
                                    {{::house.propertyName}}
                                </td>
                                <td>
                                    <a class="new-btn new-btn-yellow" ng-click="house.detail()">详情</a>
                                    <a class="new-btn new-btn-blue" ng-click="house.modify()">修改</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




