<div class="butlerService">
    <!-- BEGIN MAIN CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <div class="portlet light bordered">
                <div class="portlet-body">
                    <div>
                        <div class="crumb">
                            业主维护 <span class="crumb-arrow">></span> <span class="second">资产收益</span>
                        </div>
                    </div>
                    <div class="body-head clearfix">
                        <div class="col-md-6">
                            <div class="row">
                                <button type="button" class="btn btn-green btn-add" ng-click="add()">+ 新增</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row text-right">
                                <div class="form-group form-inline">
                                    <label>搜索关键字</label>
                                    <input id="assetName" class="form-control input-xs input-inline"
                                           placeholder="请输入资产名称、编号或所有人名称" enter-search enterfun="getData()" style="padding: 8px 10px;margin-left: 8px;width: 246px" ng-model="searchVal"/>
                                    <input type="button" class="btn btn-detail" value="查询" ng-click="getData();" style="margin-left: 8px">
                                    <button type="button" class="btn btn-success btn-reset" ng-click="reset()">重置</button>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="table-scrollable">
                        <div class="search-info" ng-if="searchInfo">
                            以下为关键词“{{searchValBackup}}”的搜索结果
                        </div>
                        <table class="table table-bordered table-checkable table1 table-new"
                               id="sample_1">
                            <thead>
                            <tr>
                                <th>资产编号/资产名称</th>
                                <th>资产所有人</th>
                                <th>日期</th>
                                <th>最终收益金额</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="income in incomeList">
                                <td>
                                    {{::income.assetNo}}/{{::income.assetName}}
                                </td>
                                <td class="center">
                                    {{::income.userName}}
                                </td>
                                <td>
                                    {{::income.date}}
                                </td>
                                <td>
                                    {{::income.finalIncome}}
                                </td>

                                <td>
                                    <a class="new-btn new-btn-yellow" ng-click="income.detail(0)">详情</a>
                                    <a class="new-btn new-btn-blue" ng-click="income.detail(1)">修改</a>
                                    <a class="new-btn new-btn-red" ng-click="income.delete()">删除</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
            </div>
        </div>
    </div>

</div>